/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require custom_bootstrap
 */

 .content-center {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

 .form-devise {
  width: 500px;
  padding: 45px 90px 30px;
  margin-bottom: 20px;
  border: solid 1px #373A3C;
  border-radius: 3px;
  background-color: #fff;
}

.alert-alert {
  background-color: #FCF7E4;
  border-color: #FCF7E4;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
