.flex-column {
  flex-direction: column
}

.min-height-100 {
  min-height: 100vh
}

.flex-grow-1 {
  flex-grow: 1
}

.margin-bottom-15 {
  margin-bottom: 15px
}

.margin-bottom-30 {
  margin-bottom: 30px
}

.pointer {
  cursor: pointer;
}
